name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cabal: ["3.16.1.0"]
        ghc: ["9.12.2", "9.8.4"]
    env:
      CONFIG: "--enable-tests --enable-benchmarks"
    steps:
      - name: test build 
      uses: actions/checkout@v4
      uses: haskell-actions/setup@v2.7.0
      with:
        # Version of GHC to use. If set to "latest", it will always get the latest stable version. If set to "head", it will always get the latest build of GHC.
        ghc-version: ${{ matrix.ghc }}
        # Version of Cabal to use. If set to "latest", it will always get the latest stable version. If set to "head", it will always get the latest build of cabal.
        cabal-version: ${{ matrix.cabal }}
        # If specified, will setup Stack.
        enable-stack: false   
        cabal-update: true       
      run: cabal freeze $CONFIG
      uses: actions/cache@v4
      with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      run: cabal build $CONFIG
      run: cabal test $CONFIG
      run: cabal haddock $CONFIG
      run: cabal sdist
